<!DOCTYPE html>

<html>
<head>

    {% block head %}
    <title>Victor Alves</title>
    {% endblock %}

<link rel="stylesheet" href="/styles.css">
</head>

<body>
<header>
<div class="menuPrincipal">
    <a href="/">Sobre</a>
    <a href="/portfolio">Aula</a> 
</div>    
</header>


{% block content %} {% endblock %}

</body>

</html> 